<a href="https://colab.research.google.com/github/11249a046-byte/SCSVMV_LABS/blob/main/11249A046.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Start with mixed values
num_val <- 123.45
char_val <- "456"
log_val <- TRUE


# Numeric conversions
as.integer(num_val)    # 123 (truncates decimal)
as.character(num_val)  # "123.45"
as.numeric(char_val)   # 456


# Character conversions
as.numeric(char_val)   # 456
as.integer("123")      # 123
as.logical("TRUE")     # TRUE


# Logical conversions
as.numeric(log_val)    # 1 (TRUE=1, FALSE=0)
as.character(log_val)  # "TRUE"

[1] 123

[1] "123.45"

[1] 456

[1] 456

[1] 123

[1] TRUE

[1] 1

[1] "TRUE"

In [ ]:
num_var <- 42.5
cat("Numeric variable value:", num_var, "\n")
cat("Numeric variable type:", class(num_var), "\n\n")

Numeric variable value: 42.5
Numeric variable type: numeric

In [ ]:
int_var <- as.integer(100)
cat("Integer variable value:", int_var, "\n")
cat("Integer variable type:", class(int_var), "\n\n")

Integer variable value: 100
Integer variable type: integer

In [ ]:
# Character variable
char_var <- "Tambaram"
cat("Character variable value:", char_var, "\n")
cat("Character variable type:", class(char_var), "\n\n")

Character variable value: Tambaram
Character variable type: character

In [ ]:
# Logical variable
log_var <- TRUE
cat("Logical variable value:", log_var, "\n")
cat("Logical variable type:", class(log_var), "\n\n")

Logical variable value: TRUE
Logical variable type: logical

In [ ]:
# Complex variable (bonus example)
comp_var <- 1 + 2i
cat("Complex variable value:", comp_var, "\n")
cat("Complex variable type:", class(comp_var), "\n")

Complex variable value: 1+2i
Complex variable type: complex

In [ ]:
mat <- matrix(1:12,ncol=4, nrow=3)  # 3x4 matrix, fills column-wise
print(mat)

     [,1] [,2] [,3] [,4]
[1,]    1    4    7   10
[2,]    2    5    8   11
[3,]    3    6    9   12

In [ ]:
my_list <- list(
 name = "Tirupati",
 age = 25,
 coords = c(13.62, 79.41),
 active = TRUE
)
str(my_list)  # Shows structure

List of 4
 $ name  : chr "Tirupati"
 $ age   : num 25
 $ coords: num [1:2] 13.6 79.4
 $ active: logi TRUE

In [ ]:
# 1. Type conversions
num <- 123.45
cat("Original:", num, class(num), "\n")
cat("To integer:", as.integer(num), "\n")
cat("To character:", as.character(num), "\n\n")

Original: 123.45 numeric
To integer: 123
To character: 123.45

In [ ]:
# 2. Structures
vec <- c(1,2,3)
mat <- matrix(1:6, nrow=2)
lst <- list(city="Tambaram", temp=28.5)
df <- data.frame(id=1:2, score=c(85,92))
cat("Vector:", vec, "\n")
cat("Matrix:\n"); print(mat)
cat("List:\n"); print(lst)
cat("Data frame:\n"); print(df)

Vector: 1 2 3
Matrix:
     [,1] [,2] [,3]
[1,]    1    3    5
[2,]    2    4    6
List:
$city
[1] "Tambaram"

$temp
[1] 28.5

Data frame:
  id score
1  1    85
2  2    92

In [ ]:
# 3. Conversions between structures
cat("Matrix to vector:", as.vector(mat), "\n")
cat("List to data frame:\n"); print(as.data.frame(lst))

Matrix to vector: 1 2 3 4 5 6
List to data frame:
      city temp
1 Tambaram 28.5

In [ ]:
cat("=== R ARITHMETIC OPERATORS DEMO ===\n\n")


# Define sample values
a <- 15
b <- 4
cat("Values: a =", a, ", b =", b, "\n\n")


# 1. Basic Arithmetic
cat("1. BASIC OPERATIONS:\n")
cat("Addition (+):     ", a + b, "\n")
cat("Subtraction (-):  ", a - b, "\n")
cat("Multiplication (*):", a * b, "\n")
cat("Division (/):     ", a / b, "\n")
cat("Power (^):        2^3 =", 2^3, "\n\n")

=== R ARITHMETIC OPERATORS DEMO ===

Values: a = 15 , b = 4

1. BASIC OPERATIONS:
Addition (+):      19
Subtraction (-):   11
Multiplication (*): 60
Division (/):      3.75
Power (^):        2^3 = 8

In [ ]:
# 2. Special Division Operators
cat("2. DIVISION OPERATORS:\n")
cat("Modulo (%%):      ", a %% b, " (remainder)\n")
cat("Integer Div (%/%):", a %/% b, " (drops decimal)\n")
cat("Normal Div (/):   ", a / b, " (3.75)\n\n")

2. DIVISION OPERATORS:
Modulo (%%):       25  (remainder)
Integer Div (%/%): 0  (drops decimal)
Normal Div (/):    0.390625  (3.75)

In [ ]:
# 3. Vector Operations (Element-wise)
cat("3. VECTOR ARITHMETIC:\n")
x <- c(10, 20, 30)
y <- c(2, 4, 5)
cat("Vector x:", x, "\n")
cat("Vector y:", y, "\n")
cat("x + y:   ", x + y, "\n")
cat("x * y:   ", x * y, "\n")
cat("x / y:   ", x / y, "\n\n")

3. VECTOR ARITHMETIC:
Vector x: 10 20 30
Vector y: 2 4 5
x + y:    12 24 35
x * y:    20 80 150
x / y:    5 5 6

In [ ]:
# 4. Real-World Example: Rectangle Area
length <- 12.5
width <- 8.2
area <- length * width
cat("4. RECTANGLE AREA:\n")
cat("Length =", length, ", Width =", width, "\n")
cat("Area =", area, "\n\n")

4. RECTANGLE AREA:
Length = 12.5 , Width = 8.2
Area = 102.5

In [ ]:
# 5. Image Processing Example (Pixel Math)
cat("5. IMAGE PIXEL EXAMPLE:\n")
r <- 255    # Red channel
g <- 128    # Green channel
b <- 64     # Blue channel
brightness <- (r + g + b) / 3
cat("RGB values: R=", r, "G=", g, "B=", b, "\n")
cat("Average brightness:", round(brightness), "\n")

5. IMAGE PIXEL EXAMPLE:
RGB values: R= 255 G= 128 B= 64
Average brightness: 149

In [ ]:
cat("=== R COMPARISON OPERATORS DEMO ===\n\n")


# Define sample values
a <- 25
b <- 18
c <- 25
cat("Values: a =", a, ", b =", b, ", c =", c, "\n\n")


# 1. Scalar Comparisons
cat("1. SCALAR COMPARISONS:\n")
cat("a == c (Equal):          ", a == c, "\n")
cat("a != b (Not Equal):      ", a != b, "\n")
cat("a > b (Greater):         ", a > b, "\n")
cat("b < a (Less):            ", b < a, "\n")
cat("a >= c (Greater/Equal):  ", a >= c, "\n")
cat("b <= a (Less/Equal):     ", b <= a, "\n\n")

=== R COMPARISON OPERATORS DEMO ===

Values: a = 25 , b = 18 , c = 25

1. SCALAR COMPARISONS:
a == c (Equal):           TRUE
a != b (Not Equal):       TRUE
a > b (Greater):          TRUE
b < a (Less):             TRUE
a >= c (Greater/Equal):   TRUE
b <= a (Less/Equal):      TRUE

In [ ]:
# 2. Vector Comparisons (Element-wise)
cat("2. VECTOR COMPARISONS:\n")
x <- c(10, 20, 30, 25)
y <- c(15, 20, 25, 30)
cat("Vector x:", x, "\n")
cat("Vector y:", y, "\n")
cat("x == y:    ", x == y, "\n")
cat("x > y:     ", x > y, "\n")
cat("x >= y:    ", x >= y, "\n")
cat("x <= y:    ", x <= y, "\n\n")

2. VECTOR COMPARISONS:
Vector x: 10 20 30 25
Vector y: 15 20 25 30
x == y:     FALSE TRUE FALSE FALSE
x > y:      FALSE FALSE TRUE FALSE
x >= y:     FALSE TRUE TRUE FALSE
x <= y:     TRUE TRUE FALSE TRUE

In [ ]:
# 3. String Comparisons
cat("3. CHARACTER COMPARISONS:\n")
place1 <- "Tirupati"
place2 <- "Tambaram"
place3 <- "Tirupati"
cat("place1 == place3: ", place1 == place3, "\n")
cat("place1 != place2: ", place1 != place2, "\n\n")

3. CHARACTER COMPARISONS:
place1 == place3:  TRUE
place1 != place2:  TRUE

In [ ]:
# 4. Practical Example: Student Grade Filter
cat("4. STUDENT GRADES FILTER:\n")
scores <- c(85, 72, 95, 68, 88)
pass_threshold <- 75
failed <- scores < pass_threshold
cat("Scores:", scores, "\n")
cat("Pass threshold:", pass_threshold, "\n")
cat("Failed students (scores < 75):", failed, "\n")
cat("Number failed:", sum(failed), "\n\n")

4. STUDENT GRADES FILTER:
Scores: 85 72 95 68 88
Pass threshold: 75
Failed students (scores < 75): FALSE TRUE FALSE TRUE FALSE
Number failed: 2

In [ ]:
# 5. Image Thresholding Example (Vision Relevant)
cat("5. IMAGE THRESHOLDING:\n")
pixel_values <- c(50, 120, 200, 80, 250)
threshold <- 100
bright_pixels <- pixel_values > threshold
cat("Pixel values:", pixel_values, "\n")
cat("Bright pixels (>100):", bright_pixels, "\n")
cat("Count of bright pixels:", sum(bright_pixels), "\n")

5. IMAGE THRESHOLDING:
Pixel values: 50 120 200 80 250
Bright pixels (>100): FALSE TRUE TRUE FALSE TRUE
Count of bright pixels: 3

In [ ]:
cat("=== R LOGICAL OPERATORS DEMO ===\n\n")


# 1. Scalar Logical Values
cat("1. SCALAR LOGICALS:\n")
p <- TRUE
q <- FALSE
cat("p =", p, ", q =", q, "\n")
cat("p & q (AND):     ", p & q, "\n")
cat("p && q (AND):    ", p && q, "\n")
cat("p | q (OR):      ", p | q, "\n")
cat("p || q (OR):     ", p || q, "\n")
cat("!p (NOT p):      ", !p, "\n")
cat("!q (NOT q):      ", !q, "\n\n")

=== R LOGICAL OPERATORS DEMO ===

1. SCALAR LOGICALS:
p = TRUE , q = FALSE
p & q (AND):      FALSE
p && q (AND):     FALSE
p | q (OR):       TRUE
p || q (OR):      TRUE
!p (NOT p):       FALSE
!q (NOT q):       TRUE

In [ ]:
# 2. From Comparisons
cat("2. FROM COMPARISONS:\n")
a <- 25
b <- 18
c <- 30
cat("a =", a, ", b =", b, ", c =", c, "\n")
cat("(a > b) & (b < c):", (a > b) & (b < c), "\n")
cat("(a > b) && (b < c):", (a > b) && (b < c), "\n")
cat("(a < b) | (c > b):", (a < b) | (c > b), "\n\n")

2. FROM COMPARISONS:
a = 25 , b = 18 , c = 30
(a > b) & (b < c): TRUE
(a > b) && (b < c): TRUE
(a < b) | (c > b): TRUE

In [ ]:
# 3. Vector Logical Operations (Element-wise)
cat("3. VECTOR LOGICALS (& and | are VECTORIZED):\n")
x <- c(TRUE, FALSE, TRUE, FALSE)
y <- c(FALSE, TRUE, TRUE, FALSE)
cat("Vector x:", x, "\n")
cat("Vector y:", y, "\n")
cat("x & y: ", x & y, "\n")
cat("x | y: ", x | y, "\n")
cat("!(x):  ", !x, "\n\n")

3. VECTOR LOGICALS (& and | are VECTORIZED):
Vector x: TRUE FALSE TRUE FALSE
Vector y: FALSE TRUE TRUE FALSE
x & y:  FALSE FALSE TRUE FALSE
x | y:  TRUE TRUE TRUE FALSE
!(x):   FALSE TRUE FALSE TRUE

In [ ]:
# 4. Practical Example: Student Eligibility Filter
cat("4. STUDENT ELIGIBILITY:\n")
scores <- c(85, 72, 95, 68, 88)
attendance <- c(95, 82, 98, 60, 90)  # percent
min_score <- 75
min_attend <- 80
eligible <- (scores >= min_score) & (attendance >= min_attend)
cat("Scores:", scores, "\n")
cat("Attendance:", attendance, "\n")
cat("Eligible:", eligible, "\n")
cat("Eligible count:", sum(eligible), "out of", length(eligible), "\n\n")

4. STUDENT ELIGIBILITY:
Scores: 85 72 95 68 88
Attendance: 95 82 98 60 90
Eligible: TRUE FALSE TRUE FALSE TRUE
Eligible count: 3 out of 5

In [ ]:
# 5. Image Processing: Multi-Condition Mask
cat("5. IMAGE MASKING (Vision Example):\n")
is_bright <- c(TRUE, FALSE, TRUE, FALSE, TRUE)  # brightness > threshold
is_edge <- c(FALSE, TRUE, TRUE, FALSE, TRUE)     # edge detected
valid_pixels <- is_bright & is_edge              # Both conditions
cat("Bright pixels:", is_bright, "\n")
cat("Edge pixels:  ", is_edge, "\n")
cat("Valid pixels: ", valid_pixels, "\n")
cat("Valid count:  ", sum(valid_pixels), "\n")

5. IMAGE MASKING (Vision Example):
Bright pixels: TRUE FALSE TRUE FALSE TRUE
Edge pixels:   FALSE TRUE TRUE FALSE TRUE
Valid pixels:  FALSE FALSE TRUE FALSE TRUE
Valid count:   2

In [3]:
for (i in 1:5) {
  print(i)
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5

In [4]:
fruits <- c("apple", "banana", "mango")

for (fruit in fruits) {
  print(fruit)
}

[1] "apple"
[1] "banana"
[1] "mango"

In [5]:
x <- 1

while (x <= 5) {
  print(x)
  x <- x + 1
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5

In [6]:
x <- 1

repeat {
  print(x)
  x <- x + 1
  if (x > 5) {
    break
  }
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5

In [7]:
for (i in 1:10) {
  if (i == 5) {
    break
  }
  print(i)
}

[1] 1
[1] 2
[1] 3
[1] 4

In [8]:
for (i in 1:5) {
  if (i == 3) {
    next
  }
  print(i)
}

[1] 1
[1] 2
[1] 4
[1] 5

In [9]:
marks <- c(85, 42, 78, 90, 66, 58, 73, 49, 91, 60)
grades <- c()

for (m in marks) {
  if (m >= 75) {
    grades <- c(grades, "Distinction")
  } else if (m >= 60) {
    grades <- c(grades, "First Class")
  } else if (m >= 50) {
    grades <- c(grades, "Second Class")
  } else {
    grades <- c(grades, "Fail")
  }
}

grades

 [1] "Distinction"  "Fail"         "Distinction"  "Distinction"  "First Class"
 [6] "Second Class" "First Class"  "Fail"         "Distinction"  "First Class"